<!-- wp:template-part {"slug":"header","theme":"cosmetics-shop","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px"><!-- wp:pattern {"slug":"cosmetics-shop/slider"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"cosmetics-shop/product-section"} /-->
<!-- wp:pattern {"slug":"cosmetics-shop/about-us-section"} /-->
<!-- wp:pattern {"slug":"cosmetics-shop/testimonial-section"} /-->
<!-- wp:pattern {"slug":"cosmetics-shop/news-section"} /-->
<!-- wp:pattern {"slug":"cosmetics-shop/faq-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"cosmetics-shop","tagName":"footer"} /-->
